USE [Hospital]
GO
/****** Object:  Table [dbo].[ESPECIALIDAD]    Script Date: 11/28/2021 6:27:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESPECIALIDAD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](100) NULL,
 CONSTRAINT [PK_ESPECIALIDAD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICO]    Script Date: 11/28/2021 6:27:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[APELLIDO] [varchar](50) NULL,
	[MATRICULA] [varchar](50) NULL,
	[ID_ESPECIALIDAD] [int] NOT NULL,
	[DNI] [varchar](15) NULL,
 CONSTRAINT [PK_MEDICO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ESPECIALIDAD] ON 

INSERT [dbo].[ESPECIALIDAD] ([ID], [DESCRIPCION]) VALUES (1, N'TRAUMATOLOGO')
INSERT [dbo].[ESPECIALIDAD] ([ID], [DESCRIPCION]) VALUES (2, N'UROLOGO')
INSERT [dbo].[ESPECIALIDAD] ([ID], [DESCRIPCION]) VALUES (3, N'CIRUJANO')
SET IDENTITY_INSERT [dbo].[ESPECIALIDAD] OFF
GO
SET IDENTITY_INSERT [dbo].[MEDICO] ON 

INSERT [dbo].[MEDICO] ([ID], [NOMBRE], [APELLIDO], [MATRICULA], [ID_ESPECIALIDAD], [DNI]) VALUES (1026, N'Tessi', N'Tolfrey', N'626146345', 7, N'33440752')
INSERT [dbo].[MEDICO] ([ID], [NOMBRE], [APELLIDO], [MATRICULA], [ID_ESPECIALIDAD], [DNI]) VALUES (1027, N'Ilene', N'Geertje', N'513632731', 2, N'40612148')
INSERT [dbo].[MEDICO] ([ID], [NOMBRE], [APELLIDO], [MATRICULA], [ID_ESPECIALIDAD], [DNI]) VALUES (1028, N'Bucky', N'Halahan', N'527691283', 9, N'23092814')
GO
SET IDENTITY_INSERT [dbo].[MEDICO] OFF
GO
ALTER TABLE [dbo].[MEDICO]  WITH CHECK ADD  CONSTRAINT [FK_MEDICO_ESPECIALIDAD] FOREIGN KEY([ID_ESPECIALIDAD])
REFERENCES [dbo].[ESPECIALIDAD] ([ID])
GO
ALTER TABLE [dbo].[MEDICO] CHECK CONSTRAINT [FK_MEDICO_ESPECIALIDAD]
GO
